.tile-subtitle{
  width:188px;
  height:30px;
  font-size:10px;
  color:#fff;
  text-overflow:ellipsis;
  transition:color .3s;
  word-wrap: break-word;
  
}

.tile-date{
  height:20px;
  width:188px;
  font-size:9px;
  color:#fff;
}


h1{
  font-size:24px;
  color:#fff;
  padding-left:0;
}
