<aside class="l-sidebar">
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <small>Past Events</small>
     </div>
    </div>
    <div class="list-group">
      <a href="https://github.com/edgararuiz/big-data-w-r" class="list-group-item">
        <small>Big Data with R | May 18 | SDSS 2018</small>
      </a>
    </div> 
    <div class="list-group">
      <a href="https://sg.com.mx/dataday/session/taller-impartido-por-rstudio/" class="list-group-item">
        <small>Taller de sparklyr | Mar 15 | Data Day Mexico</small>
      </a>
    </div>
    <div class="list-group">
      <a href="https://github.com/rstudio/bigdataclass2018" class="list-group-item">
        <small>Big Data with R | Jan 31 | rstudio::conf</small>
      </a>
    </div>
    <div class="list-group">
      <a href="https://github.com/edgararuiz/datadaymx" class="list-group-item">
        <small>Databases Using R | Nov 4 | ODSC West</small>
      </a>
    </div>
  </section>


  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <a href = "https://github.com/edgararuiz/dbplot"><small>dbplot</small></a>
     </div>
    </div>
    <div class="list-group">
      </br>
        <p align = "center">
          <a href="http://cran.r-project.org/package=dbplot">
            <img src="https://www.r-pkg.org/badges/version/dbplot" alt="CRAN Status" />
          </a>
          <a href="https://cranlogs.r-pkg.org/badges/grand-total/dbplot">
            <img src="https://cranlogs.r-pkg.org/badges/grand-total/dbplot" alt="Downloads" />
          </a>
        </p></br>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <a href = "https://tidypredict.netlify.com/"><small>tidypredict</small></a>
     </div>
    </div>
    <div class="list-group">
      </br>
        <p align = "center">
          <a href="http://cran.r-project.org/package=tidypredict">
            <img src="https://www.r-pkg.org/badges/version/tidypredict" alt="CRAN Status" />
          </a>
          <a href="https://cranlogs.r-pkg.org/badges/grand-total/tidypredict">
            <img src="https://cranlogs.r-pkg.org/badges/grand-total/tidypredict" alt="Downloads" />
          </a>
          <br/><a href="https://tidypredict.netlify.com/">Official site</a>
        </p></br>
    </div>
  </section>
  
    <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <a href = "https://modeldb.netlify.com/"><small>modeldb</small></a>
     </div>
    </div>
    <div class="list-group">
      </br>
        <p align = "center">
          <a href="http://cran.r-project.org/package=modeldb">
            <img src="https://www.r-pkg.org/badges/version/modeldb" alt="CRAN Status" />
          </a>
          <a href="https://cranlogs.r-pkg.org/badges/grand-total/modeldb">
            <img src="https://cranlogs.r-pkg.org/badges/grand-total/modeldb" alt="Downloads" />
          </a>
          <br/><a href="https://modeldb.netlify.com/">Official site</a>
        </p></br>
    </div>
  </section>
  
<section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        Latest
      </div>
    </div>
    <div class="list-group">
      {{ range first 5 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">
        <small>{{ .Title }} </small>
      </a>
      {{ end }}
    </div>
  </section>

</aside>

