
<aside class="l-sidebar">



  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        Latest
      </div>
    </div>
    <div class="list-group">
      {{ range first 5 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">
        <small>{{ .Title }} </small>
      </a>
      {{ end }}
    </div>
  </section>


  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        <small>Upcoming Events</small>
     </div>
    </div>
    <div class="list-group">
      <a href="https://www.rstudio.com/conference/" class="list-group-item">
        <small>Big Data with R | Jan 31 | rstudio::conf</small>
      </a>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <small>Events</small>
     </div>
    </div>
    <div class="list-group">
      <a href="/2017/11/04/databases-using-r---odsc-west---materials/" class="list-group-item">
        <small>Databases Using R | Nov 4 | ODSC West</small>
      </a>
    </div>
  </section>


  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <a href = "https://github.com/edgararuiz/dbplot"><small>dbplot</small></a>
     </div>
    </div>
    <div class="list-group">
      </br>
        <p align = "center"><a href="http://cran.r-project.org/package=dbplot" rel="nofollow"><img src="https://camo.githubusercontent.com/c90fd8213a27a7272a658d46c8fc5605bd2cfcd4/687474703a2f2f7777772e722d706b672e6f72672f6261646765732f76657273696f6e2f6462706c6f74" alt="CRAN_Status_Badge" data-canonical-src="http://www.r-pkg.org/badges/version/dbplot" style="max-width:100%;"></a> <a href="https://camo.githubusercontent.com/d372438e67e318bb5f08ae10d0f4ce45a43aecc7/68747470733a2f2f6372616e6c6f67732e722d706b672e6f72672f6261646765732f6772616e642d746f74616c2f6462706c6f74" target="_blank"><img src="https://camo.githubusercontent.com/d372438e67e318bb5f08ae10d0f4ce45a43aecc7/68747470733a2f2f6372616e6c6f67732e722d706b672e6f72672f6261646765732f6772616e642d746f74616c2f6462706c6f74" alt="CRAN downloads" data-canonical-src="https://cranlogs.r-pkg.org/badges/grand-total/dbplot" style="max-width:100%;"></a></p></br>
      
    </div>
  </section>



</aside>

