<aside class="l-sidebar">
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <small>Past Events</small>
     </div>
    </div>
    <div class="list-group">
      <a href="https://github.com/edgararuiz/ConectaR" class="list-group-item">
        <small>R y Spark | Jan 24 | ConectaR 2019 - Costa Rica</small>
      </a>
    </div>     
    <div class="list-group">
      <a href="https://github.com/edgararuiz/databases-w-r" class="list-group-item">
        <small>DBs with R | Jan 17 | rstudio::conf2019</small>
      </a>
    </div>    
    <div class="list-group">
      <a href="https://github.com/edgararuiz/databases-w-r" class="list-group-item">
        <small>Spark & R | Nov 13 | Big Data London</small>
      </a>
    </div>    
    <div class="list-group">
      <a href="https://github.com/edgararuiz/big-data-w-r" class="list-group-item">
        <small>Big Data with R | May 18 | SDSS 2018</small>
      </a>
    </div> 
    <div class="list-group">
      <a href="https://sg.com.mx/dataday/session/taller-impartido-por-rstudio/" class="list-group-item">
        <small>Taller de sparklyr | Mar 15 | Data Day Mexico</small>
      </a>
    </div>
    <div class="list-group">
      <a href="https://github.com/rstudio/bigdataclass2018" class="list-group-item">
        <small>Big Data with R | Jan 31 | rstudio::conf</small>
      </a>
    </div>
    <div class="list-group">
      <a href="https://github.com/edgararuiz/datadaymx" class="list-group-item">
        <small>Databases Using R | Nov 4 | ODSC West</small>
      </a>
    </div>
  </section>


  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-cube" aria-hidden="true"></i>
        <small>Packages</small>
     </div>
    </div>
    <div class="list-group-item">
      <a href = "https://github.com/edgararuiz/dbplot">dbplot</a> - 
      <a href="http://cran.r-project.org/package=dbplot">
        <img src="https://www.r-pkg.org/badges/version/dbplot" alt="CRAN Status" />
      </a>
    </div>
    <div class="list-group-item">
      <a href = "https://github.com/edgararuiz/tidypredict">tidypredict</a> - 
      <a href="http://cran.r-project.org/package=tidypredict">
        <img src="https://www.r-pkg.org/badges/version/tidypredict" alt="CRAN Status" />
      </a>
    </div>
    <div class="list-group-item">
      <a href = "https://github.com/edgararuiz/modeldb">modeldb</a> - 
      <a href="http://cran.r-project.org/package=modeldb">
        <img src="https://www.r-pkg.org/badges/version/modeldb" alt="CRAN Status" />
      </a>
    </div>
  </section>
  
<section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        Latest
      </div>
    </div>
    <div class="list-group">
      {{ range first 5 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">
        <small>{{ .Title }} </small>
      </a>
      {{ end }}
    </div>
  </section>

</aside>

