
<aside class="l-sidebar">

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        {{if eq $key "tags"}} <i class="fa fa-tag" aria-hidden="true"></i> {{ end }}
        {{if eq $key "categories"}} <i class="fa fa-folder" aria-hidden="true"></i> {{ end }}
        <small>Top 10 {{ $key }}</small>
     </div>
    </div>
    <div class="list-group">
      {{ range first 10 $value.ByCount }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">
        <small>{{ .Name  }}</small>
      </a>
      {{ end }}
    </div>
  </section>
  {{ end }}

</aside>

